* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Figtree", sans-serif;
    background: #f4d03f;
   display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 20px;
}



.blog-card {
    width: 100%;
    max-width: 327px;        /* narrower on mobile */
    background: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 8px 8px 0 0 black; 
    border: 1px solid black; 
    padding: 24px;
}

.card-image {
    background: linear-gradient(135deg, #f4d03f 0%, #f4d03f 100%);
    height: 180px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}
.card-image:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    cursor: pointer;
}


.badge {
    display: inline-block;
    background: #f4d03f;
    color: #333;
    padding: 4px 12px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 600;
    margin-top: 24px;
    margin-bottom: 8px;
}
.badge:hover {
    background: #d4ac0d;
    cursor: pointer;
    transition: background 0.3s ease;
}

.publish-date {
    font-size: 13px;
    color: #666;
    margin-bottom: 12px;
}

.card-title {
    font-size: 20px;
    font-weight: 700;
    color: #1a1a1a;
    margin-bottom: 12px;
    line-height: 1.3;
   
}
.card-title:hover {
    color: #f4d03f;
    cursor: pointer;
    transition: color 0.3s ease;
}

.card-description {
    font-size: 14px;
    color: #888;
    line-height: 150%;
    margin-bottom: 20px;
}

.card-description:hover {
    color: #f4d03f;
    cursor: pointer;
    transition: color 0.3s ease;
}

.author {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.author:hover .author-name {
    color: #f4d03f;
    cursor: pointer;
    transition: color 0.3s ease;
}

.author-avatar{

    max-width: 32px;
    max-height: 32px;
    border-radius: 50%;
    object-fit: contain;
    border-color: #1a1a1a;

   
    
}.author-avatar:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.author-name {
    font-size: 14px;
    font-weight: 600;
    color: #1a1a1a;
}
.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 80%; 
    
}
/*  base styles (these apply to mobile by default) */
body {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  padding: 1rem;
}


/* 2. media queries  */

@media (min-width: 768px) {
  .blog-card {
    max-width: 384px;       
  }
  
  .card-title {
    font-size: 24px;         
  }
  
  .card-description {
    font-size: 16px;         
  }
  
}